proj/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
node_modules/
dist/
.env

data/raw/
data/processed/

ml/ml-proj/
ml/artifacts/
ml/mlruns/
ml/mlartifacts/
ml/mlflow.db
*.tsbuildinfo
/frontend/vite.config.js
/frontend/vite.config.d.ts
